@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

:root{
    --bg-color: #EBD9B4;
    --primary-color: #000000;
    --secondary-color: #FFF323;
    --font: "nunito sans", sans-serif;
}