@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

:root{
    --bg-color: #EBD9B4;
    --primary-color: #000000;
    --secondary-color: #FFF323;
    --font: "nunito sans", sans-serif;
}

    body{
        background-color: var(--bg-color);
        color: var(--primary-color);
        font-family: var(--font);
        height: 100vh;
        margin: 0;
    }

    header{
        background-color: var(--primary-color);
        text-align: center;
    }

    h1{
        font-size: 2rem;
        color: var(--bg-color);
        font-weight: 700;
    }

    